body {
  text-align: center;
  background-color: #5329a1;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  /* width: 70%;
  margin: auto; */

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 30%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange{
  background-color: orange;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.light-green{
  background-color: rgb(153, 240, 14);
}

.purple{
  background-color: purple;
}

.grey{
  background-color: grey;
}

.pink{
  background-color: rgb(226, 104, 171);
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media(max-width:600px){
  .btn{
    height: 100px;
    width: 100px;
    margin:3px;
  }
  #level-title{
    font-size: 2rem;
  }
}